# .gitignore

# Virtual Environment
venv/
.venv/
env/
ENV/
*.env
env.bak/
venv.bak/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
dist/
build/
*.spec
*.egg-info/
*.egg

# Logs and Stats (User-generated)
*.log
analyzer_debug.log
analysis_stats.csv

# Configuration (Contains user-specific paths)
config.ini

# IDE / Editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

#Stats
analysis_stats.csv